/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font, "IBM Plex mono", monospace);
  font-size: var(--main-font-size);
  background-color: var(--background-color);
  line-height: 23.4px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
  position: absolute;
  inset-block-start: clamp(10px, 2.6vw + 0.02rem, 20px);
  inset-inline-end: clamp(10px, 2.6vw + 0.02rem, 20px);
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
  position: absolute;
  inset-block-end: clamp(10px, 2.6vw + 0.02rem, 20px);
  inset-inline-start: clamp(10px, 2.6vw + 0.02rem, 20px);
}

.header {
  
  min-block-size: 668px;
  display: grid;
  align-items: start;
  padding: clamp(10px, 2.6vw + 0.02rem, 20px);

}

.header__rec {
  justify-self: flex-end;
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: clamp(20px, 3.8vw + 0.01rem, 30px);
  inset-block-start: clamp(10px, 2.6vw + 0.02rem, 20px);

}

.header__rec::before {
  content: "rec";
  color: var(--nav-text-color, #FF0070);
  text-transform: uppercase;
  line-height: 25px;

}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--header-shadow-color, #FF0070);
}

.header__theme-menu {
  justify-self: flex-end;
  margin-block-start: 65px;
  margin-block-end: 10px;
}



.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  color: var(--question-color, #FF0070);
  text-transform: lowercase;
}

.header__theme-menu-item .header__theme-menu-button_active {
  border: 1px solid var(--border-color, #FF0070);
}

.title-decor {
  line-height: 23.4px;
  font-weight: 700;
  color: var(--header-text-color, #00002B);
  background-color: var(--background-header-color, #FF0070);
}

.header__text {
  justify-self: flex-end;
  inline-size: clamp(355px, calc(100% / 2 - 8px), 491px);
}


.header__title {
  font-size: clamp(116px, 1.018vw + 7.011rem, 120px);
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--header-shadow-color, #FF0070);
  line-height: clamp(5.938rem, 1.018vw + 5.699rem, 6.188rem);
  justify-self: flex-start;
}










@media (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding-inline-start: 0px;
  }
  
  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 5px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }
}