:root {
  --pink-color-1: #f1b2ce;
  --pink-color-2: #fff1ff;
  --pink-color-3: #ffc2e6;
  --pink-color-4: #ff8dcb;
  --pink-color-40op: #ff007040;

  --purple-color-1: #db00ff;
  --purple-color-2: #ff0070;

  --black-color-1: #000028;
  --black-color-2: #353430;
  --black-color-40op: #32312d40;

  --main-font: "IBM Plex mono", monospace;
  --main-text-color: var(--pink-color-1, #f1b2ce);
  --background-image: url("../images/cover-image.png");
  --header-title-color: var(--purple-color-1, #db00ff);
  --header-color: var(--black-color-1, #000028);
  --header-background-color: var(--purple-color-2, #ff0070);
  --question-color: var(--purple-color-2, #ff0070);
  --header-menu-color: var(--purple-color-2, #ff0070);
  --text-shadow-color: var(--purple-color-2, #ff0070);
  --background-color: var(--black-color-1, #000028);
  --hover-border-color: var(--pink-color-40op, #ff007040);
  --rec-visible: visible;
}
